<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>491394804090-46cdpgb4qucll3nhb47t16qpvt8b3ude.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491394804090-46cdpgb4qucll3nhb47t16qpvt8b3ude</string>
	<key>API_KEY</key>
	<string>AIzaSyDnpG8y8fnNNyV1nKi0d4nmj0CeHqpwbOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>491394804090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.chalmers.ait.wallofthoughts</string>
	<key>PROJECT_ID</key>
	<string>wallofthoughts-379c1</string>
	<key>STORAGE_BUCKET</key>
	<string>wallofthoughts-379c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:491394804090:ios:2687730d83996c13</string>
	<key>DATABASE_URL</key>
	<string>https://wallofthoughts-379c1.firebaseio.com</string>
</dict>
</plist>